<?php
/**
 * This software is governed by the CeCILL-B license. If a copy of this license
 * is not distributed with this file, you can obtain one at
 * http://www.cecill.info/licences/Licence_CeCILL-B_V1-en.txt
 *
 * Authors of STUdS (initial project): Guilhem BORGHESI (borghesi@unistra.fr) and Raphaël DROZ
 * Authors of Framadate/OpenSondage: Framasoft (https://github.com/framasoft)
 *
 * =============================
 *
 * Ce logiciel est régi par la licence CeCILL-B. Si une copie de cette licence
 * ne se trouve pas avec ce fichier vous pouvez l'obtenir sur
 * http://www.cecill.info/licences/Licence_CeCILL-B_V1-fr.txt
 *
 * Auteurs de STUdS (projet initial) : Guilhem BORGHESI (borghesi@unistra.fr) et Raphaël DROZ
 * Auteurs de Framadate/OpenSondage : Framasoft (https://github.com/framasoft)
 */

// Fully qualified domain name of your webserver.
// If this is unset or empty, the servername is determined automatically.
// You *have to set this* if you are running Framadate behind a reverse proxy.
// const APP_URL = '<www.mydomain.fr>';
{% if framadate_app_url is defined %}
const APP_URL = '{{ framadate_app_url }}';
{% endif %}

// Application name
const NOMAPPLICATION = '{{ framadate_app_name }}';

// Database administrator email
const ADRESSEMAILADMIN = '{{ framadate_admin_email }}';

// Email for automatic responses (you should set it to "no-reply")
const ADRESSEMAILREPONSEAUTO = '{{ framadate_automatic_response }}';

// Database server name, leave empty to use a socket
const DB_CONNECTION_STRING = 'mysql:host={{ framadate_db_host }};dbname={{ framadate_db_name }};port={{ framadate_db_host_port }}';

// Database user
const DB_USER= '{{ framadate_db_user_name }}';

// Database password
const DB_PASSWORD = '{{ framadate_db_user_password }}';

// Table name prefix
const TABLENAME_PREFIX = '{{ framadate_db_table_prefix }}';

// Name of the table that stores migration script already executed
const MIGRATION_TABLE = '{{ framadate_db_migration_table }}';

// Default Language
const DEFAULT_LANGUAGE = '{{ framadate_default_language }}';

// List of supported languages, fake constant as arrays can be used as constants only in PHP >=5.6
$ALLOWED_LANGUAGES = [
{% for key, value in framadate_allowed_languages.items() %}
    '{{ key }}' => '{{ value }}',
{% endfor %}
];

// Path to image file with the title
const IMAGE_TITRE = '{{ framadate_path_logo }}';

// Clean URLs, boolean
const URL_PROPRE = {{ framadate_clean_urls }};

// Use REMOTE_USER data provided by web server
const USE_REMOTE_USER =  {{ framadate_use_remote_user }};

// Path to the log file
const LOG_FILE = '{{ framadate_log_file }}';

// Days (after expiration date) before purging a poll
const PURGE_DELAY = {{ framadate_purge_delay }};

// Max slots per poll
const MAX_SLOTS_PER_POLL = {{ framadate_max_slot_per_poll }};

// Number of seconds before we allow to resend an "Remember Edit Link" email.
const TIME_EDIT_LINK_EMAIL = {{ framadate_time_edit_link_email }};

// Config
$config = [
    /* general config */
    'use_smtp' => {{ framadate_use_smtp }},                     // use email for polls creation/modification/responses notification
    'smtp_options' => [
        'host' => '{{ framadate_smtp_host }}',              // SMTP server (you could add many servers (main and backup for example) : use ";" like separator
        'auth' => {{ framadate_smtp_auth }},                    // Enable SMTP authentication
        'username' => '{{ framadate_smtp_username }}',                   // SMTP username
        'password' => '{{ framadate_smtp_password }}',                   // SMTP password
        'secure' => '{{ framadate_smtp_secure }}',                     // Enable encryption (false, tls or ssl)
        'port' => {{ framadate_smtp_port }},                       // TCP port to connect to
    ],
    /* home */
    'show_what_is_that' => {{ framadate_show_what_is_that }},            // display "how to use" section
    'show_the_software' => {{ framadate_show_the_software }},            // display technical information about the software
    'show_cultivate_your_garden' => {{ framadate_show_cultivate_your_garden }},   // display "development and administration" information
    /* create_classic_poll.php / create_date_poll.php */
    'default_poll_duration' => {{ framadate_default_poll_duration }},         // default values for the new poll duration (number of days).
    /* create_classic_poll.php */
    'user_can_add_img_or_link' => {{ framadate_user_can_add_img_or_link }},     // user can add link or URL when creating his poll.
    'markdown_editor_by_default' => {{ framadate_markdown_editor_by_default }},   // The markdown editor for the description is enabled by default
    'provide_fork_awesome' => {{ framadate_provide_fork_awesome }},         // Whether the build-in fork-awesome should be provided
];
