server {
	listen 80;
	listen [::]:80;
	server_name {{ framadate_domain_name }};
	return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
	  listen [::]:443 ssl http2; # For ipv6 only
    server_name {{ framadate_domain_name }};

    # This must be adapted if you use cdn or stats scripts.
    add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; object-src 'none'; style-src 'self' 'unsafe-inline'; font-src 'self'; img-src 'self'";
    add_header Referrer-Policy "strict-origin";

   {% if framadate_certbot %}
   include /etc/letsencrypt/options-ssl-nginx.conf;
   ssl_certificate /etc/letsencrypt/live/{{ framadate_domain_name }}/fullchain.pem;
   ssl_certificate_key /etc/letsencrypt/live/{{ framadate_domain_name }}/privkey.pem;
   {% else %}
   ssl_certificate /etc/nginx/ssl/selfsigned.pem;
   ssl_certificate_key /etc/nginx/ssl/selfsigned.pem;
   {% endif %}


   access_log /var/log/nginx/{{ framadate_domain_name }}-access.log;
   error_log /var/log/nginx/{{ framadate_domain_name }}-error.log;

   root /var/www/{{ framadate_domain_name }};

   index index.php;

   location ~^/(\.git)/{
	deny all;
   }
	location ~ /\. {
		deny all;
	}

	location ~ ^/composer\.json.*$|^/composer\.lock.*$|^/php\.ini.*$|^/.*\.sh {
		deny all;
	}

    location /admin/ {
	    auth_basic "Restricted access";
	    auth_basic_user_file /var/www/{{ framadate_domain_name }}/admin/.htpasswd;

	    location ~ \.php$ {
	    	fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	    	include /etc/nginx/fastcgi_params;
	    	fastcgi_pass unix:/run/php/php{{ framadate_phpfpm_version }}-fpm.sock;
	    }
	    try_files $uri $uri/ =401;
	}

    location / {
	    rewrite "^/admin$" "/admin/" permanent;

        # Clean URL
	    rewrite "^/([a-zA-Z0-9-]+)$" "/studs.php?poll=$1" last;
	    rewrite "^/([a-zA-Z0-9-]+)/action/([a-zA-Z_-]+)/(.+)$" "/studs.php?poll=$1&$2=$3" last;
	    rewrite "^/([a-zA-Z0-9-]+)/vote/([a-zA-Z0-9]{16})$" "/studs.php?poll=$1&vote=$2" last;
	    rewrite "^/([a-zA-Z0-9]{24})/admin$" "/adminstuds.php?poll=$1" last;
	    rewrite "^/([a-zA-Z0-9]{24})/admin/vote/([a-zA-Z0-9]{16})$" "/adminstuds.php?poll=$1&vote=$2" last;
	    rewrite "^/([a-zA-Z0-9]{24})/admin/action/([a-zA-Z_-]+)(/([A-Za-z0-9]+))?$" "/adminstuds.php?poll=$1&$2=$4" last;
      try_files $uri /index.php;
    }

    location ~ \.php$ {
        include /etc/nginx/fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_index index.php;
        fastcgi_pass unix:/run/php/php{{ framadate_phpfpm_version }}-fpm.sock;
    }
}
